# Source: https://github.com/PyCQA/pylint/blob/master/examples/pylintrc

[MASTER]
# Ignore Python code in VCS metadata
ignore=CVS,.bzr,.svn,.git

[MESSAGES CONTROL]
# Disable the message(s) with the given id(s).
# W0142: Used * or ** magic
# W0511: Warning notes in code comments
# C0111: Missing docstring
disable=W0142,W0511,C0111

[REPORTS]
output-format=colorized

[FORMAT]
max-line-length=79
