[submodule "python-shell-enhancement"]
	path = python-shell-enhancement
	url = https://github.com/jbisbee/python-shell-enhancement.git
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule ".autoenv"]
	path = dotfiles-common/.autoenv
	url = https://github.com/kennethreitz/autoenv.git
