[submodule ".bash-git-prompt"]
	path = dotfiles/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "build"]
	path = build
	url = https://github.com/caarlos0/shell-ci-build.git
[submodule ".diff-so-fancy"]
	path = dotfiles/.diff-so-fancy
	url = https://github.com/stevemao/diff-so-fancy.git
[submodule "dotfiles/.dircolors-solarized"]
	path = dotfiles/.dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
