[core]
    editor=/usr/bin/vi
	pager = 
[user]
	name = Kevin Deldycke
	email = kevin@deldycke.com
[color]
    autocrlf = input
    whitespace = fix,space-before-tab,tab-in-indent,trailing-space
	diff = auto
	status = auto
	branch = auto
    ui = auto
[apply]
    whitespace = fix
[diff]
    renames = copies
    # Source: http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
	algorithm = patience
[push]
    default = simple
[merge]
  log = true
[alias]
  br = branch
  ci = commit
  co = checkout
  df = diff
  g = grep -I
  lg = log -p
  pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
  rb = rbranch
  rv = review
  st = status
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"
