[core]
    editor = vim
    pager =
    autocrlf = input
    whitespace = fix,space-before-tab,tab-in-indent,trailing-space
    # Prevent OSX's revisiond daemon to mess up with our files.
    # See: http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/
    trustctime = false
[user]
    name = Kevin Deldycke
    email = kevin@deldycke.com
[color]
    diff = auto
    status = auto
    branch = auto
    ui = auto
    interactive = auto
[apply]
    whitespace = fix
[diff]
    renames = copies
    # Source: http://blog.apiaxle.com/post/handy-git-tips-to-stop-you-getting-fired/
    algorithm = patience
[pull]
    # Source: http://stackoverflow.com/a/18756102/487610
    rebase = preserve
[push]
    # Prevent accidental pushes to branches which you’re not ready to push yet.
    # Source: http://mislav.uniqpath.com/2010/07/git-tips/
    default = tracking
[merge]
    log = true
[branch]
    autosetuprebase = remote
[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    g  = grep -I
    lg = log -p
    pp = !"echo 'Pull'; git pull; echo 'Push'; git push"
    rb = rbranch
    rv = review
    st = status
    # View abbreviated SHA, description, and history graph of the latest 20 commits
    l = log --pretty=oneline -n 20 --graph --abbrev-commit --decorate
    # View the current working tree status using the short format
    s = status -sb
    # Show the diff between the latest commit and the current state
    d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
    # `git di $number` shows the diff between the state `$number` revisions ago and the current state
    di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
    # Pull in remote changes for the current repository and all its submodules
    p = !"git pull; git submodule foreach git pull origin master"
    # Clone a repository including all submodules
    c = clone --recursive
    # Commit all changes
    ca = !git add -A && git commit -av
    # Switch to a branch, creating it if necessary
	go = "!g() { \
		    if (( $(git br | grep $1 | wc -l) == 1 )); then \
			    git checkout $1; \
		    else \
			    git checkout -B $1; \
		    fi }; g"
    # Show verbose output about tags, branches or remotes
    tags = tag -l
    branches = branch -a
    remotes = remote -v
    # Credit an author on the latest commit
    credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
    # Interactive rebase with the given number of latest commits
    reb = "!r() { git rebase -i HEAD~$1; }; r"
    # Find branches containing commit
    fb = "!f() { git branch -a --contains $1; }; f"
    # Find tags containing commit
    ft = "!f() { git describe --always --contains $1; }; f"
    # Find commits by sourcecode
    fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
    # Find commits by commit message
    fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
    # Remove already merged branches
    dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
