---
name: Autofix
"on":
  push:
    # Only targets main branch to avoid amplification effects of auto-fixing
    # the exact same stuff in multiple non-rebased branches.
    branches:
      - main

jobs:

  autofix:
    uses: kdeldycke/workflows/.github/workflows/autofix.yaml@v2.11.0
    with:
      gitignore-location: ./dotfiles/.gitignore_global
      gitignore-extra-categories: >
        archive
        archives
        backup
        bittorrent
        certificates
        compressed
        compressedarchive
        compression
        database
        datarecovery
        executable
        games
        gpg
        jupyternotebooks
        less
        libreoffice
        microsoftoffice
        ssh