---
name: Lint
"on":
  push:
  pull_request:

jobs:

  lint-zsh:
    name: Check Zsh code
    runs-on: macos-11.0
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Install Zsh
        run: |
          brew install zsh
      - name: Lint
        run: |
          find . -iname "*.sh" -exec zsh --no-exec "{}" \;

  lint-yaml:
    name: Lint YAML files
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-python@v2.2.1
      - name: Install linter
        run: |
          python -m pip install --upgrade pip
          pip install yamllint
      - name: Lint
        run: |
          yamllint .

  check-secrets:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: '0'
      - name: gitleaks-action
        uses: zricethezav/gitleaks-action@v1.6.0
