---
name: Tests
"on":
  push:
    branches:
      - main
  pull_request:
  schedule:
    # Run tests every Monday at 9:17 to catch regressions.
    - cron: "17 9 * * 1"

jobs:

  tests:
    name: Run full installation
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4.1.6
      - name: Install Zsh
        run: |
          brew install zsh
      - name: Force default shell
        # GitHub macOS images forces bash as default:
        # https://github.com/actions/virtual-environments/blob/0d93dd2/images/macos/provision/configuration/shell-change.sh#L3-L5
        run: |
          sudo chsh -s "$(brew --prefix zsh)/bin/zsh" root
          sudo chsh -s "$(brew --prefix zsh)/bin/zsh" "$USER"
      - name: Fix GitHub worker
        # aws-cli is already installed by hand in GitHub action runners.
        # Remove it to avoid "brew install --formula awscli" error.
        run: |
          rm /usr/local/bin/aws
          rm /usr/local/bin/aws_completer
      - name: Run install
        run: |
          zsh ./install.sh
